*.pyc
db.sqlite3
node_modules/*
.vscode/launch.json
dump.rdb
staticfiles/*.json
staticfiles/admin/*
staticfiles/gdanalyst/*
staticfiles/*.py
staticfiles/empty.*.txt
gd/sec.py
gd/sec1.py
appendonly.aof
.vscode/settings.json
.vscode/extensions.json
.env
.venv*