{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block styles %}
     
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/b-print-1.6.4/cr-1.5.2/fh-3.1.7/r-2.2.6/sp-1.2.0/sl-1.3.1/datatables.min.css"/>
    <link href="{% static 'gdanalyst/gameresult.css' %}" rel="stylesheet">
     
    <!--
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/b-print-1.6.4/cr-1.5.2/fh-3.1.7/sp-1.2.0/datatables.min.css"/>
    -->
 
{% endblock %}

{% block body %}
    <table id="gameresult" class="cell-border order-column hover display compact">
        <thead>
            <tr>
                <th>T</th>
                <th>Qtr</th>
                <th>Clk</th>
                <th>FP</th>
                <th>Dn</th>
                <th>Dst</th>
                <th>OF</th>
                <th>DF</th>
                <th>DT</th>
                <th>Blz?</th>
                <th>OT</th>
                <th>RD</th>
                <th>Prs</th>
                <th>PD</th>
                <th>Cvrg</th>
                <th>Cvr</th>
                <th>PR</th>
                <th>Px</th>
                <th>Sck</th>
                <th>Pen</th>
                <th>TO</th>
                <th>TD</th>
                <th>YG</th>
                <th>OPM</th>
                <th>DPM</th>
                <th>PBP</th>
                <th>H</th>
                <th>A</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    {% for data in row %}
                        <td>
                            {{ data }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}