{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block styles %}
     
<!--
<link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/cr-2.0.3/fh-4.0.1/r-3.0.2/sc-2.4.3/sb-1.7.1/sp-2.3.1/sl-2.0.3/sr-1.4.1/datatables.min.css" rel="stylesheet">
<link href="{% static 'gdanalyst/datatables.min.css' %}" rel="stylesheet">
-->
<link href="{% static 'gdanalyst/mermaid.css' %}" rel="stylesheet">
<link href="{% static 'gdanalyst/gameresult.css' %}" rel="stylesheet">

<style>
    /* Set the width of the colvis popup */
    div.dt-button-collection.two-column {
        width: 600px; /* Adjust the width as needed */
    }
</style>
     
    <!--
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/b-print-1.6.4/cr-1.5.2/fh-3.1.7/sp-1.2.0/datatables.min.css"/>
    -->
 
{% endblock %}

{% block body %}
    <p>
        <div class="form-check form-switch">
            <input class="m-1 form-check-input checked" type="checkbox" value="" id="flexCheckCharts" checked>
            <label class="form-check-label" for="flexCheckCharts">
              Show Charts
            </label>
        </div>
        <div class="form-check form-switch">
            <input class="m-1 form-check-input checked" type="checkbox" value="" id="flexCheckSearchFilters" checked>
            <label class="form-check-label" for="flexCheckSearchFilters">
              Show Search Filters
            </label>
        </div>
    </p>
    <div class="chartcontainer">
        <div class="row collapse show" id="collapseRow" style="height: 200px;">
            <div class="col-sm" id="runpasscontainer">
            </div>
            <div class="col-sm" id="passresultcontainer">
            </div>
            <div class="col-sm" id="blitzcontainer">
            </div>
            <div class="col-sm" id="yppcontainer">
            </div>
        </div>
    </div>
    <p>
        <label for="rowsPerPage">Rows per page:</label>
        <select id="rowsPerPage">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </p>
    <table id="gameresults" class="cell-border order-column hover display compact">
        <thead>
            <tr>
                <th>G</th>
                <th>T</th>
                <th>Qtr</th>
                <th>Clk</th>
                <th>FP</th>
                <th>Dn</th>
                <th>Dst</th>
                <th>OF</th>
                <th>DF</th>
                <th>DT</th>
                <th>Blz?</th>
                <th>OT</th>
                <th>RD</th>
                <th>Prs</th>
                <th>PD</th>
                <th>Cvrg</th>
                <th>Cvr</th>
                <th>PR</th>
                <th>Px</th>
                <th>Sck</th>
                <th>Pen</th>
                <th>TO</th>
                <th>TD</th>
                <th>YG</th>
                <th>OPM</th>
                <th>DPM</th>
                <th>PBP</th>
                <th>YPEN</th>
                <th>Prg</th>
                <th>Prgx</th>
                <th>H</th>
                <th>A</th>
                <th>Scr</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    {% for data in row %}
                        <td>
                            {{ data }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block script %}
        <!--
            <script src="{% static 'gdanalyst/jquery-3.7.1.min.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

            <script type="text/javascript" src="{% static 'gdanalyst/datatables.min.js' %}"></script>
            <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/drilldown.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/solid-gauge.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
            <script type="text/javascript" src="https://code.highcharts.com/modules/accessibility.js"></script>
            
            <script src="{% static 'gdanalyst/data_table_new.js' %}"></script>
        
            <script src="{% static 'gdanalyst/list.js' %}"></script>
            <script src="{% static 'gdanalyst/list_table.js' %}"></script>
        -->
        <script src="{% static 'gdanalyst/jquery-3.7.1.min.js' %}"></script>
        <script src="https://unpkg.com/gridjs-jquery/dist/gridjs.production.min.js"></script>
        <script src="{% static 'gdanalyst/grid_table.js' %}"></script>
{% endblock %}