{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block styles %}
   
{% endblock %}

{% block body %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="index_form">
            <form action="pbp" id="gameid_form" method="GET">
                <div class="form-group">
                    <input type="text" name="gameid" id="gameid" class="form-control" placeholder="Enter Game ID" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"></input>
                <div class="form-group">
                    <button type="submit" form="gameid_form" class="btn btn-info btn-lg btn-block">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
