{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block styles %}
   
{% endblock %}

{% block body %}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="row m-3 h-100 justify-content-center align-items-center">
        <div class="index_form">
            <form action="pbp" id="gameid_form" method="GET" class="needs-validation" novalidate>
                <div class="form-group m-1">
                    <input type="text" name="gameid" id="gameid" class="form-control" minlegth="7" maxlength="8" pattern="^[\d]{7,8}" placeholder="Enter 7 or 8-digit Game ID" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" required></input>
                <div class="form-group m-1">
                    <button type="submit" form="gameid_form" class="m-2 btn btn-info btn-lg btn-block">Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'gdanalyst/formvalidation.js' %}"></script>
{% endblock %}
