{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}
    {{ school }}
{% endblock %}
{% block styles %}
    <link href="{% static 'gdanalyst/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="h1 col p-2 m-3 bg-info text-white" id="playername">{{ player }} ({{ position }})</div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="h4 p-2 ml-3 bg-transparent text-dark">
                    {{ hometown }}
                </div>
            </div>
            <div class="row">
                <div class="h4 p-2 ml-3 bg-transparent text-dark">
                    World: {{ world }} {{ division }} ({{ coachcount }} human coaches)
                </div>
            </div>
        </div>
        <div hidden id="position">{{ position }}</div>
        <div hidden id="latitude">{{ player_lat }}</div>
        <div hidden id="longitude">{{ player_lon }}</div>
        <div hidden id="wisid">{{ playerid }}</div>
        <div class="col">
            <div class="row">
                <form action="/world/{{ world }}/{{ division }}/player" id="player_div_form" method="GET" class="needs-validation" novalidate>
                    <div class="m-1 input-group input-group-lg">
                        <input type="text" name="recruit" id="recruitid" class="form-control" class="form-control" minlength="8" maxlength="8" pattern="^[\d]{8}" placeholder="8-digit recruit ID" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                        <button type="submit" form="player_div_form" class="ml-2 btn btn-success btn-lg">Map Recruit</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <form action="/world/{{ world }}/{{ division }}/town" id="town_div_form" method="GET" class="needs-validation" novalidate>
                    <div class="m-1 input-group input-group-lg">
                        <input type="text" name="town" id="town_name" class="form-control" class="form-control" minlength="1" maxlength="64" placeholder="City, ST" pattern="[\w\s]*, [A-Z]{2}" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                        <button type="submit" form="town_div_form" class="ml-2 btn btn-success btn-lg">Map by City</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <table>
                    <tr>
                        <th>School</th>
                        <th>Coach</th>
                        <th>Distance (miles)</th>
                        <th style="visibility: hidden;" scope="col">Latitude</th>
                        <th style="visibility: hidden;" scope="col">Longitude</th>
                    </tr>
                        {% for key, value in combined %}
                        <tr class="hct" id="{{ key }}">
                            <td class="sch_short"><a id="{{ key }}" href="/{{ key }}">{{ value.0 }}</a></td>
                            <td class="sch_coach"> {{ value.1 }}</td>
                            <td id="distanceColumn"> {{ value.2 }}</td>
                            <td style="visibility: hidden;" class="hct_lat">{{ value.3 }}</td>
                            <td style="visibility: hidden;" class="hct_lon">{{ value.4 }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="col-lg-9">
                <div id="playermapid"></div>
            </div>
        </div>
    </div>  
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="{% static 'gdanalyst/player_map.js' %}"></script>
    <script src="{% static 'gdanalyst/formvalidation.js' %}"></script>  
{% endblock %}
