{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}
    {{ school }}
{% endblock %}
{% block styles %}
    <link href="{% static 'gdanalyst/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div>
        <div class="h1 p-3 mb-1 bg-dark text-white" id="schoolname">{{ wid.school_short }}</div>
        <div class="h5 pl-3 bg-transparent text-dark">{{ wid.location.name }}</div>
        <div hidden id="latitude">{{ wid.location.latitude }}</div>
        <div hidden id="longitude">{{ wid.location.longitude }}</div>
        <div class="pl-3 bg-transparent text-dark">World: {{ wid.world }}</div>
        <div hidden id="wisid">{{ wid.wis_id }}</div>
        <div class="pl-3 bg-transparent text-dark">Coach: <a href="/coach/{{ coach }}">{{ coach }}</a></div>
        <div class="pl-3 bg-transparent text-dark">Division: {{ wid.division }}</div>
        <div class="pl-3 bg-transparent text-dark">Conference: {{ wid.conference }}</div>
        <div class="pl-3 bg-transparent text-dark"><a href="/{{ wid.wis_id }}">School Map</a></div>
    </div>
    <hr>
    <div class="container-fluid">
        <!--<div class="row">
            <a href="/{{ wid.wis_id }}/schedule/all" class="btn btn-primary btn-lg m-2" id="analyzebtn" role="button" aria-pressed="true" target="_blank">Analyze Results for All Opponents</a>
        </div> -->
            <div class="col shadow p-3 mb-5 bg-white rounded">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Opponent</th>
                            <th scope="col">Coach</th>
                            <th scope="col">Box Score</th>
                            <th scope="col">
                                <button type="button" class="mx-auto mt-1 mb-1 btn btn-primary btn-sm" id="analyzebtn" disabled>Analyze</button>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckAll">
                                    <label class="form-check-label" for="flexCheckAll">
                                      All
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckHumans">
                                    <label class="form-check-label" for="flexCheckHumans">
                                      Humans
                                    </label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in schedule %}
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td><a class="hct" id="{{ row.3 }}" href="/{{ row.3 }}/schedule">{{ row.2 }}</a></td>
                            {% if row.4 != "Sim AI" %}
                                <td><a href="/coach/{{ row.4 }}">{{ row.4 }}</a></td>
                            {% else %}
                                <td>{{ row.4 }}</td>
                            {% endif %}
                            <td><a class="hct" id="{{ row.6 }}" href="https://www.whatifsports.com/gd/GameResults/BoxScore.aspx?gid={{ row.6 }}" target="_blank">{{row.7}} {{ row.5 }}</a></td>
                            <td>
                                {% if row.6 != "#" %}
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="switch" value="{{ row.4 }}" id="{{ row.6 }}">
                                        <label class="form-check-label" for="{{ row.6 }}">Analyze</label>
                                    </div>
                                {% endif %}
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    
{% endblock %}
{% block script %}
    <script src="{% static 'gdanalyst/schedule_switchboxes.js' %}"></script>
{% endblock %}
