{% extends "gdanalyst/layout.html" %}
{% load static %}

{% block title %}
    {{ school }}
{% endblock %}
{% block styles %}
    <link href="{% static 'gdanalyst/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col h1 p-3 mb-1 bg-dark text-white" id="schoolname">{{ wid.school_short }}</div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="h5 pl-3 bg-transparent text-dark">{{ wid.location.name }}</div>
                <div hidden id="latitude">{{ wid.location.latitude }}</div>
                <div hidden id="longitude">{{ wid.location.longitude }}</div>
                <div class="pl-3 bg-transparent text-dark">World: {{ wid.world }} ({{ coachcount }} human coaches)</div>
                <div hidden id="wisid">{{ wid.wis_id }}</div>
                <div class="pl-3 bg-transparent text-dark">Coach: {{ coach }}</div>
                <div class="pl-3 bg-transparent text-dark">Division: {{ wid.division }}</div>
                <div class="pl-3 bg-transparent text-dark">Conference: {{ wid.conference }}</div>
            </div>
            <div class="col-sm">
                <div>
                    <table class="table table-sm table-bordered">
                        <tr>
                            <th id="rostercount">Schol.</th>
                            <th id="rostercount">QB</th>
                            <th id="rostercount">RB</th>
                            <th id="rostercount">WR</th>
                            <th id="rostercount">TE</th>
                            <th id="rostercount">OL</th>
                            <th id="rostercount">DL</th>
                            <th id="rostercount">LB</th>
                            <th id="rostercount">DB</th>
                            <th id="rostercount">K</th>
                            <th id="rostercount">P</th>
                        </tr>
                        <tr>
                            <td id="rostercount">{{ roster.Scholarships }}</a></td>
                            <td id="rostercount">{{ roster.QB }}</td>
                            <td id="rostercount">{{ roster.RB }}</td>
                            <td id="rostercount">{{ roster.WR }}</td>
                            <td id="rostercount">{{ roster.TE }}</td>
                            <td id="rostercount">{{ roster.OL }}</td>
                            <td id="rostercount">{{ roster.DL }}</td>
                            <td id="rostercount">{{ roster.LB }}</td>
                            <td id="rostercount">{{ roster.DB }}</td>
                            <td id="rostercount">{{ roster.K }}</td>
                            <td id="rostercount">{{ roster.P }}</td>
                        </tr>
                    </table>
                </div>
                <form action="/world/{{ wid.world }}/{{ wid.division }}/player" id="player_div_form" method="GET">
                    <div class="input-group">
                        <input type="text" name="recruit" id="recruitid" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter recruit ID #">
                        <button type="submit" form="player_div_form" class="ml-2 btn btn-success">Map Recruit</button>
                    </div>
                </form>
            </div>
            <div class="col-sm text-center">
                <a href="{{ wid.wis_id }}/schedule" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Game Results</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded">
                <table>
                    <tr>
                        <th>School</th>
                        <th>Coach</th>
                        <th>Distance (miles)</th>
                    </tr>
                        {% for key, value in combined %}
                        <tr>
                            <td><a class="hct" id="{{ key }}" href="/{{ key }}">{{ value.0 }}</a></td>
                            <td> {{ value.1 }}</td>
                            <td id="distanceColumn"> {{ value.2 }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="col-lg-9">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="{% static 'gdanalyst/map.js' %}"></script>     
{% endblock %}
